-
  const artists = ['Sakrymo','Cloudy']
  const validGalleryTags = ['logo','branding','web','stationery','poster','motion','presentation']
  const galleryData = {
    happyBee: {
      color1: 'orange',
      color2: 'fuchsia',
      accentColor: this.color1,
      title: 'Happy Bee',
      contributors: [artists[0]],
      tags: [].filter(e => validGalleryTags.includes(e)),
      cover: '',
      thumbnail: '',
      thumbnailAnimated: false,
      getColors() { return `${this.color1}, ${this.color2}` }
    },
    oceanProject: {

      color1: 'lime',
      color2: 'cyan',
      getColors() { return `${this.color1}, ${this.color2}` }
    },
    xinpretia: {
      color1: 'white',
      color2: 'red',
      getColors() { return `${this.color1}, ${this.color2}` }
    },
    example1: {
      color1: 'white',
      color2: 'red',
      getColors() { return `${this.color1}, ${this.color2}` }
    },
    example2: {
      color1: 'white',
      color2: 'red',
      getColors() { return `${this.color1}, ${this.color2}` }
    },
    example3: {
      color1: 'white',
      color2: 'red',
      getColors() { return `${this.color1}, ${this.color2}` }
    },
    examplea4: {
      color1: 'white',
      color2: 'red',
      getColors() { return `${this.color1}, ${this.color2}` }
    },
    examplea5: {
      color1: 'white',
      color2: 'red',
      getColors() { return `${this.color1}, ${this.color2}` }
    },
    examplea6: {
      color1: 'white',
      color2: 'red',
      getColors() { return `${this.color1}, ${this.color2}` }
    },
    examplea7: {
      color1: 'white',
      color2: 'red',
      getColors() { return `${this.color1}, ${this.color2}` }
    },
    examplea8: {
      color1: 'white',
      color2: 'red',
      getColors() { return `${this.color1}, ${this.color2}` }
    },
    examplea9: {
      color1: 'white',
      color2: 'red',
      getColors() { return `${this.color1}, ${this.color2}` }
    },
    examplea10: {
      color1: 'white',
      color2: 'red',
      getColors() { return `${this.color1}, ${this.color2}` }
    },
    examplea11: {
      color1: 'white',
      color2: 'red',
      getColors() { return `${this.color1}, ${this.color2}` }
    },
    examplea12: {
      color1: 'white',
      color2: 'red',
      getColors() { return `${this.color1}, ${this.color2}` }
    }
  }

mixin gallery()
  .container
    .gallery.col-3
      - let galleryItemDelay = 0
      each val, key in galleryData
        - galleryItemDelay += 100
        //- .gallery-item(data-aos="fade-up" data-aos-delay=galleryItemDelay.toString() data-aos-duration="500")
        .gallery-item
          .thumbnail-wrapper
            .thumbnail
          .gallery-item-details
            h3.thumbnail-title #{key} #{val}
            .thumbnail-tags
                .thumbnail-tag Logo
                .thumbnail-tag Branding
                .thumbnail-tag Presentation
                .thumbnail-tag Something