-
  const artists = ['Sakrymo','Cloudy']
  const validGalleryTags = ['logo','branding','web','stationery','poster','motion','presentation']
  const galleryData = {
    
    happyBee: {
      color1: 'orange',
      color2: 'fuchsia',
      getAccentColor() { return this.color1 },
      getColors() { return `${this.color1}, ${this.color2}` },
      title: 'Happy Bee',
      contributors: [artists[0]],
      tags: ['branding','logo','wrong']
            .filter(e => validGalleryTags.includes(e)),
      cover: 'happybee',
      thumbnail: '',
      thumbnailAnimated: false
    },
    
    oceanProject: {
      color1: 'teal',
      color2: 'cyan',
      getAccentColor() { return '#11b2b3' },
      getColors() { return `${this.color1}, ${this.color2}` },
      title: 'Our Ocean',
      contributors: [artists[0]],
      tags: ['branding','logo','kebab','pizza','poster']
            .filter(e => validGalleryTags.includes(e)),
      cover: 'oceanproject',
      thumbnail: '',
      thumbnailAnimated: true
    },

  }

mixin gallery-item(options)
  .gallery-item
    .thumbnail-wrapper
      .thumbnail-hover(style=`background-color: ${options.getAccentColor()};`)
      .thumbnail-hover-icon
        img(src="img/eye-icon.svg", alt="" width="100px")
      .thumbnail-loader
      +thumbnail({src: options.thumbnail || 'placeholder', animated: options.thumbnailAnimated })

    .gallery-item-details
      h3.thumbnail-title #{options.title}
      .thumbnail-tags
        each tag in options.tags
          .thumbnail-tag(style=`color: white; border-color: ${options.getAccentColor()};`) #{tag}

mixin gallery()
  .container
    .gallery.col-3
      - let galleryItemDelay = 0
      each val, key in galleryData
        - galleryItemDelay += 100
        +gallery-item(val)