-
  const galleryData = {
    happyBee: {
      color1: 'orange',
      color2: 'fuchsia',
      getColors() { return `${this.color1}, ${this.color2}` }
    },
    oceanProject: {
      color1: 'lime',
      color2: 'cyan',
      getColors() { return `${this.color1}, ${this.color2}` }
    },
    xinpretia: {
      color1: 'white',
      color2: 'red',
      getColors() { return `${this.color1}, ${this.color2}` }
    },
    example1: {
      color1: 'white',
      color2: 'red',
      getColors() { return `${this.color1}, ${this.color2}` }
    },
    example2: {
      color1: 'white',
      color2: 'red',
      getColors() { return `${this.color1}, ${this.color2}` }
    },
    example3: {
      color1: 'white',
      color2: 'red',
      getColors() { return `${this.color1}, ${this.color2}` }
    },
    examplea4: {
      color1: 'white',
      color2: 'red',
      getColors() { return `${this.color1}, ${this.color2}` }
    },
    examplea5: {
      color1: 'white',
      color2: 'red',
      getColors() { return `${this.color1}, ${this.color2}` }
    },
    examplea6: {
      color1: 'white',
      color2: 'red',
      getColors() { return `${this.color1}, ${this.color2}` }
    },
    examplea7: {
      color1: 'white',
      color2: 'red',
      getColors() { return `${this.color1}, ${this.color2}` }
    }
  }

mixin gallery()
  .container
    .gallery
      - let galleryItemDelay = 0
      each val, key in galleryData
        - galleryItemDelay += 100
        .gallery-item(data-aos="fade-up" data-aos-delay=galleryItemDelay.toString() data-aos-duration="500")
          h3 #{key} #{val}