mixin navbar({ activeItem = '', color1 = '#db0027', color2 = '#15b8fc', activeColor = color2, repeat = false, progressBar = false, hide = false})
  
  include _navbar-logo
  include _favicon
  include _page-links

  #navbar-fixed-wrapper.fullwidth
    nav#navbar(hide = hide.toString())
      #navbar-content
        
        //- Logo
        a#navbar-wrapper(href='/')
          #navbar-logo
            +navbar-logo(color1, color2)
        
        //- Page links
        ul#navbar-items
          each val, index in pageNames
            li
              unless val === activeItem
                  a.navbar-item(href='/' + pageURLs[index]) #{val}
              else
                  a.navbar-item.active(href='/' + pageURLs[index]) #{val}
          
          //- Theme toggle
          li.nav-icon#theme-toggle
            i.fas.fa-adjust

        nav#mobile-menu
          ul#mobile-menu-items
            each val, index in pageNames
              li
                unless val === activeItem
                    a.navbar-item(href='/' + pageURLs[index]) #{val}
                else
                    a.navbar-item.active(href='/' + pageURLs[index]) #{val}
            #mobile-menu-social-icons-container
              #mobile-menu-social-icon
                a.fab.fa-instagram
              #mobile-menu-social-icon
                a.fab.fa-behance
              #mobile-menu-social-icon
                a.far.fa-envelope
              #mobile-menu-social-icon
              #mobile-menu-social-icon  
              #mobile-menu-social-icon  
              #mobile-menu-social-icon
            i.fas.fa-adjust#mobile-theme-toggle


        //- Mobile menu
        #hamburger
          input#hamburger-toggle(type="checkbox")
          .hamburger-line#hamburger-top
          .hamburger-line#hamburger-mid
          .hamburger-line#hamburger-bot

    .navbar-gradient(style="background: linear-gradient(90deg," + color1 + "," + color2 + ");")
    .navbar-gradient-overlay#navbar-gradient-overlay-1
    .navbar-gradient-overlay#navbar-gradient-overlay-2
    if progressBar
      #navbar-progress
  style .navbar-item.active::after { background-color: #{activeColor}; }
