mixin navbar(activeItem)
  -var domain = "https://arcanist.art/"
  include _navbar-logo
  #navbar
    #navbar-content
      a(href=domain)
        #navbar-logo
          +navbar-logo('#db0027','#15b8fc')

      include _page-links

      ul#navbar-items
        each val, index in pageNames
          li
            unless val === activeItem
                a.navbar-item(href=domain + pageURLs[index]) #{val}
            else
                a.navbar-item.active(href=domain + pageURLs[index]) #{val}
  .navbar-gradient