mixin navbar(activeItem, color1='#db0027', color2='#15b8fc', activeColor = color2, repeat='false')
  -var domain = "https://arcanist.art/"
  
  include _navbar-logo
  include _page-links

  #navbar
    #navbar-content
      a(href=domain)
        #navbar-logo
          +navbar-logo(color1, color2)

      ul#navbar-items
        each val, index in pageNames
          li
            unless val === activeItem
                a.navbar-item(href=domain + pageURLs[index]) #{val}
            else
                a.navbar-item.active(href=domain + pageURLs[index]) #{val}
        
        li.nav-icon#theme-toggle
          i.fas.fa-adjust

        style .navbar-item.active::after { background-color: #{activeColor}; }

  .navbar-gradient(style="background: linear-gradient(90deg," + color1 + "," + color2 + ");")