mixin navbar(activeItem)
  -var domain = "https://arcanist.art/"
  #navbar
    #navbar-content
      a(href=domain)
        #navbar-logo

      include page-links.pug

      ul#navbar-items
        each val, index in pageNames
          li
            unless val === activeItem
                a.navbar-item(href=domain + pageURLs[index]) #{val}
            else
                a.navbar-item.active(href=domain + pageURLs[index]) #{val}